[Desktop Entry]
Type=Application
Name=LibreWolf
GenericName=Web Browser
StartupNotify=true
Terminal=false
MimeType=application/json;application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Comment=Browse the World Wide Web
Categories=Network;WebBrowser;Security;
StartupWMClass=librewolf-default
Exec=sh -c "$HOME/librewolf-customizations/librewolf"
Icon="$HOME/librewolf-customizations/librewolf-source/themes/browser/branding/librewolf/default128.png"

Actions=new-window;new-private-window;safe-mode;preferences;profiles;

[Desktop Action new-window]
Name=New Window
Exec=sh -c "$HOME/librewolf-customizations/librewolf"
[Desktop Action new-private-window]
Name=New Private Window
Exec=sh -c "$HOME/librewolf-customizations/librewolf --private-window"
[Desktop Action safe-mode]
Name=Start in Safe Mode
Exec=sh -c "$HOME/librewolf-customizations/librewolf --safe-mode"
[Desktop Action preferences]
Name=Show Preferences
Exec=sh -c "$HOME/librewolf-customizations/librewolf --preferences"
[Desktop Action profiles]
Name=Profile Manager
Exec=sh -c "$HOME/librewolf-customizations/librewolf --ProfileManager"
